@import "../../lib.scss";

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  h2 {
    font-size: 2rem;
    color: $error-color;
  }
}

.quiz-container {
  height: 100%;
  width: 100%;
}

.quiz-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $bg-color;
}
